<nav class="navbar fixed-top navbar-dark bg-dark">
  <a class="navbar-brand" [routerLink]="['']">
    <i class="fab fa-angular"></i> Angular Animations Demo
  </a>
</nav>

<header>
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" routerLink="/home">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" routerLink="/products">Products</a>
    </li>
  </ul>
</header>

<main>
  <router-outlet></router-outlet>
</main>

